
.intro {
  margin-top:    13vh;
  margin-bottom: 13vh;
}

.paper {
  background-color: #A01F36 !important;
  border-radius: 0px !important;
  height: 25vh;
  min-height: 50px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.paper > a {
  flex-grow: 1;
  overflow: hidden;
  border-radius: 50%;
  margin: calc(8vw - 20px);
  transition: .2s;
}

.paper > a > div:before {
  content: "";
  display: block;
  padding-top: 100%; /* ratio of 1:1*/
}

.paper > a > div {
  height: 100%;
  width: 100%;
}

.paper > a:hover {
  transform: translate(-3px, -3px);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.29);
}

.news {
  margin-top: 10vh;
  margin-left:  40vw;
  margin-right: 40vw;
  padding: 10px;
  background-color: #A01F36 !important;
}

.news > h3 {
  font-size: 3vw;
  color: white;
}

.instagram-media {
  margin-top: 4vh !important;
  display: initial !important;
}


