@font-face {
  font-family: 'Font';
  src: url('./DFNMing-XB-HK-BF.woff2') format('woff2'); /* Super Modern Browsers */
}

.App * {
  font-family: 'Font' !important;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

#logo {
  margin-top: 30px;
  height: calc(100px + 10vmin);
  width: 100%;
}

p.logo-text {
  color: #A01F36;
  font-size: 2vmin;
}

#fab {
  position: fixed;
  top: 30px;
  right: 30px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.hidden {
  opacity: 0;
}

#menu {
  opacity: 0.8;
}

.bk2 {
  background-color: #a01f36;
}

.menu-item {
  color: white !important;
}

.bottom {
  display: flex;
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-left: 10vw;
  margin-right: 10vw;
  justify-content: space-around;
}

.bottom > button {
}

.bottom-icon {
  width: 8vw;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
